@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<Floream.People.Models.PersonProfile>>

@{
    ViewBag.Title = "Home Page ";
    Layout = "Views/Shared/_Layout.cshtml";
    var counter = 0;
}

<div class="controls">
    <label>Filter:</label>
    <button class="filter" data-filter="all">All</button>
    <button class="filter" data-filter=".sales">Sales Team</button>
    <button class="filter" data-filter=".it">It Department</button>
    <label>Sort:</label>
    <button class="sort" data-sort="myorder:asc">Asc</button>
    <button class="sort" data-sort="myorder:desc">Desc</button>
</div>
<div id="container">

    @foreach (var item in Model)
    {
    <div class="col mix @item.Department col-md-4" data-myorder="@counter">
        <div class="wrapper">
            <div class="img">
                <img src="data:image/@item.PictureExtension;base64,@System.Convert.ToBase64String(item.Picture)" />
            </div>
            <div class="overlay"></div>
            <span>
                @item.Name<br />
                <a href="mailto:@item.Email">@item.Email</a><br />
                @item.Position<br />
                @item.Department<br />
            </span>
        </div>
    </div>
        counter++;
    }

</div>
