@{
    ViewBag.Title = "Profile";
    Layout = "Views/Shared/_Layout.cshtml";
}

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Floream.People.DataSources.Entities.Person>
<div id="container" style="margin-top: 5%;text-align: center;">
    <div class="row myInfo">
        <div class="col-md-12" id="myPic" style="margin-bottom: 2%;">
            @Html.Partial("_Picture", Model)
        </div>
        <br />
        <br />
        <br />
        @*<div class="col-md-6" style="text-align: right;">
            <p id="lblName">Name: </p>
        </div>*@
        <div class="col-md-12 text-center" style="text-align: center;">
            <p id="name">@Model.Name</p>
        </div>

        @*<div class="col-md-6" style="text-align: right;">
            <p id="lblEmail">Email: </p>
        </div>*@
        <div class="col-md-12 text-center" style="text-align: center;">
            <p id="email">@Model.Email</p>
        </div>

        @*<div class="col-md-6" style="text-align: right;">
            <p id="lblPosition">Position: </p>
        </div>*@
        <div class="col-md-12 text-center">
            <input type="text" class="profile-position" placeholder="What's your current possition?" id="position" value="@Model.Position" />
        </div>
        <div class="col-md-12" style="margin-top: 2%;">
            <input type="button" class="btn btn-primary" id="btnSave" value="Save" style="text-align: center;" />
            <div id='saveSuccessMessage' style="display:none;">Profile updated successfully!</div>
        </div>
    </div>
</div>
<script src="/Content/js//vendor/jquery.ui.widget.js"></script>
<script src="/Content/js/jquery.iframe-transport.js"></script>
<script src="/Content/js/jquery.fileupload.js"></script>

<script type="text/javascript">
    $('#avatarPic').attr("src", '@Floream.People.Utils.HtmlHelper.GetProfileImage(Model.Picture, Model.PictureExtension)')

    $('#btnSave').click(function () {
        $.ajax({
            url: '/Profile/Save/',
            type: 'Post',
            data: {
                position: $('#position').val()
            },
            success: function (data) {
                $('#saveSuccessMessage').fadeIn(2000);
                window.setTimeout(function () {
                    // closing the popup
                    $('#saveSuccessMessage').fadeTo(300, 0.5).slideUp(2000, function () {
                        $('#saveSuccessMessage').alert('close');
                    });
                }, 5000);
            }
        });
    });
</script>
